/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1584706368162-73c7dab84d68?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

textarea {
  width: 100%;
  min-height: 40dvh;
  max-height: 60dvh;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.form-button {
  width: 100%;
}